#
# Things that start with CCCCCCCC
#
'.source.php'

  'Controller':
    'prefix': 'controller'
    'body': """
    namespace Craft;

    class $1Controller extends BaseController
    {
        public function action$2()
        {
            $3;
            $this->redirect('$4');
        }
    }
    """
