#
# Things that start with CCCCCCCC
#
'.source.php':

  'Element Type':
    'prefix': 'elementtype'
    'body': """
    namespace Craft;

    class $1ElementType extends BaseElementType
    {

        public function getName()
        {
            return Craft::t('$2');
        }

        public function hasContent()
        {
            return $3;
        }

        public function hasTitles()
        {
            return $4;
        }

        public function getSources($context = null)
        {
            $sources = $5;

            return $sources;
        }

        public function defineTableAttributes($source = null)
        {
            return array(
              '$6' => Craft::t('$7')
            );
        }

        public function getTableAttributeHtml(BaseElementModel $element, $attribute)
        {
            return $8;
        }

        public function defineCriteriaAttributes()
        {
            return array(
                '$9' => AttributeType::$10
            );
        }

        public function modifyElementsQuery(DbCommand $query, ElementCriteriaModel $criteria)
        {
            $11;
        }

        public function populateElementModel($row)
        {
            return $12Model::populateModel($row);
        }

        public function getEditorHtml(BaseElementModel $element)
        {
            // Everything else
            $html .= parent::getEditorHtml($element);

            return $html;
        }
    }
    """
