#
# Things that start with GGGGGGGG
#
'.source.php':

  'Get CP Url':
    'prefix': 'getcpurl'
    'body': "return UrlHelper::getCpUrl('$1/'.$2->handle.'/'.$this->id);"

  'Get Criteria':
    'prefix': 'getcriteria'
    'body': "return craft()->elements->getCriteria('$1');"

  'Get Developer':
    'prefix': 'getdeveloper'
    'body': """
    public function getDeveloper()
    {
        return '$1';
    }
    """

  'Get Developer URL':
    'prefix': 'developerurl'
    'body': """
    public function getDeveloperUrl()
    {
        return 'http://$1';
    }
    """

  'Get Post':
    'prefix': 'getpost'
    'body': "craft()->request->getPost('$1');"

  'Get Name':
    'prefix': 'getname'
    'body': """
    public function getName()
    {
        return Craft::t('$1');
    }
    """

  'Get Required Post':
    'prefix': 'getrequiredpost'
    'body': "$1 = craft()->request->getRequiredPost('$2');"

  'Get Version':
    'prefix': 'getversion'
    'body': """
    public function getVersion()
    {
        return '$1';
    }
    """
