#
# Things that start with PPPPPPPP
#
'.source.php'

  'Plugin':
    'prefix': 'plugin'
    'body': """
    namespace Craft;

    class $1Plugin extends BasePlugin
    {
        public function getName()
        {
            return Craft::t('$2');
        }

        public function getVersion()
        {
            return '$3';
        }

        public function getDeveloper()
        {
            return '$4';
        }

        public function getDeveloperUrl()
        {
            return 'http://$5';
        }
    }
    """
