#
# Things that start with RRRRRRRRRRRR
#
'.source.php':

  'Record':
    'prefix': 'record'
    'body': """
    namespace Craft;

    class $1Record extends BaseRecord
    {
        public function getTableName()
        {
            return '$2';
        }

        public function defineAttributes()
        {
            return array(
                '$3' => array(AttributeType::$4),
                )
            );
        }
    }
    """

  'Redirect':
    'prefix': 'redirect'
    'body': "$this->redirect('$1');"

  'Render Template':
    'prefix': 'rendertemplate'
    'body': "$this->renderTemplate('$1');"

  'Require Ajax':
    'prefix': 'requireajax'
    'body': "$this->requireAjaxRequest('$1');"

  'Require Post':
    'prefix': 'requirepost'
    'body': "$this->requirePostRequest('$1');"
