#
# Things that start with SSSSSSSS
#
'.source.php':

  'Service':
    'prefix': 'service'
    'body': """
    namespace Craft;

    class $1Service extends BaseApplicationComponent
    {
        protected $2;

        public function getAll$3()
        {
            $4;
        }
    }
    """

    'Set Error':
      'prefix': 'seterror'
      'body': "craft()->userSession->setError(Craft::t('$1.'));"

    'Set Notice':
      'prefix': 'setnotice'
      'body': "craft()->userSession->setNotice(Craft::t('$1.'));"

    'Set Route Variable':
      'prefix': 'setroutevariable'
      'body': """
      craft()->urlManager->setRouteVariables(array(
          '$1' => $2
      ));
      """
